@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
*{

}
body{
  background: #202020;
}
/** header **/
#nav{
  background: black; 
  margin-bottom: 0px;
  border-radius: 0px;
  border: 0px; 
}
a{
  position: absolute;
  top: 0px;
  text-decoration: none;
  }
h1{
  color: red;
  margin: 0px;
  padding: 10px;
  font-size: 28px;
  height: 50px;
  font-family: 'Nosifer', cursive;
}
/*button*/
li{
  position: absolute;
  padding: 12px;
  height: 50px;
  font-size: 18px;
  color: #B8B8B8;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #232020;
  margin-right: 2px;
}
.nav > li > a{
  position: absolute;
  left: 0px;
  padding: 25px 0px 25px 0px;
  width: 100%;
}
li:hover, a:hover{
  background-color: black;
}
.navbar-default .navbar-toggle {
    border-color: red;
    background-color: #202020;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: red;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #202020;
}

/*for title responsiveness*/
@media (max-width: 375.98px)
{
  h1{
    position: relative;
    padding-top: 15px; 
      bottom: 0px;
      font-size: 7vw;
  }

}