*{
	box-sizing: border-box;
	
}
body{
	margin: 0px;
	padding: 0;
}
div{
	margin: 10px;
}
h1{
	text-align: center;
}
@media (min-width: 992px)
{
spam{
	position: absolute;
	top: 0;
    right: 0;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid black;

}
#h{
    background-color: #F08080;
}
#e{
	background-color: #DC143C;
	color: white;
}
#a{
	background-color: #FFFF66;
	}

p{
	background-color: grey;
    float: left;
    width: 30.3%;
	height: 30.33%;
	background: grey;
	margin-left: 1%;
	padding: 2%;
	border: 1px solid black;
	position: relative;
	padding-top: 5%;
	margin-right: 13px;

}
}
@media (min-width: 768px) and (max-width: 991px)
{
spam{
	position: absolute;
	top: 0;
    right: 0;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid black;

}
#h{
    background-color: #F08080;
}
#e{
	background-color: #DC143C;
	color: white;
}
#a{
	background-color: #FFFF66;
	}

#box1{
	background-color: grey;
    float: left;
    width: 47%;
	height: 47%;
	background: grey;
	margin-left: 1%;
	padding: 2%;
	border: 1px solid black;
	position: relative;
	padding-top: 5%;
	margin-right: 13px;

}
#box2{
	background-color: grey;
    float: left;
    width: 96%;
	height: 96%;
	background: grey;
	margin-left: 1%;
	padding: 2%;
	border: 1px solid black;
	position: relative;
	padding-top: 6%;
	margin-right: 13px;

}
#head{
	float: right; 

}
}
@media (min-width: 0px) and (max-width: 767px)
{
spam{
	position: absolute;
	top: 0;
    right: 0;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid black;

}
#h{
    background-color: #F08080;
}
#e{
	background-color: #DC143C;
	color: white;
}
#a{
	background-color: #FFFF66;
	}

p{
	background-color: grey;
    float: left;
    width: 96%;
	height: 96%;
	background: grey;
	margin-left: 1%;
	padding: 2%;
	border: 1px solid black;
	position: relative;
	padding-top: 10%;
	margin-right: 13px;

}
}
