@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@font-face {
	font-family: Laceouss;
	src: url("Prida65.otf");
}
*{
	scroll-behavior: smooth;
}
body{
	margin: 0px;
	padding: 0px;
}
@keyframes animate{
	0%{
		background-color: white;
  }
	100%{
		background-color: #000000;
	}
}
@keyframes come {
	from {opacity: 0;padding: 20px;}
	to {opacity: 1;padding: 10px;}
}
@keyframes spice {
	0%{
		background-position: left 0px top 10px;
	}
	40%{
		background-position: left 800px top 10px;
	}
}
h1{
	color: #ff0000;
	position: relative;
	font-family: Laceouss;
  opacity: 0;
	font-size: 70px;
	top: 15%;
}
section{
  width: 450px;
  height: 450px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -225px;
  margin-top: -250px;
}
section#image  > div{
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	margin: auto;
}
#vid{
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 13%;
  left: -0px;
  background-size: cover;
  margin: auto;
}
#sad{
	background-image: url("sad1.jpeg");
    opacity: 1;
     background-position: center;
}
#happy{
	/* background-image: url('happy.jpeg'); */
	 opacity: 0;
	   background-position: center;

}
#music{
	padding: 15px;
	padding-top: 5px;
	color: white;
	font-family: 'Six Caps', sans-serif;
	font-size: 35px;
	display: inline-block;
	position: absolute;
	bottom: -100px;
	left: 0px;
}
#video{
	padding: 15px;
	padding-top: 5px;
	color: white;
	font-family: 'Six Caps', sans-serif;
	font-size: 35px;
	display: inline-block;
	position: absolute;
	bottom: -180px;
	left: 0px;
}
#spice{
	padding: 15px;
	font-family: 'Six Caps', sans-serif;
	font-family: 'Michroma', sans-serif;
	font-size: 15px;
	display: inline-block;
	position: absolute;
	bottom: -170px;
	right: 0px;
	color: rgba(255, 225, 225, 0.1);
	background-image: url('https://images.pond5.com/huge-blood-splash-footage-000129538_prevstill.jpeg');
	-webkit-background-clip: text;
	animation: spice 15s linear infinite;
	background-repeat: repeat-x repeat-y;
}
.preorder{
	position: absolute;
	left: 420px;
	top: 150px;
	padding: 10px;
	color: #83ff77;
	font-family: 'Six Caps', sans-serif;
	font-size: 27px;
	border: 1px #83ff77 solid;
}
.preorder:hover{
	text-decoration: none;
	color: red;
	background-color: black;
	border: 2px red solid;
	font-weight: bold;
}
/* MUSIC HOVER */
#music::before {
	content: "";
	display: block;
	height: 5px;
	width: 100%;
	background-color: red;
	display: fixed;
	position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 900ms;
}
#music:hover::before{
	width: 60%;
}
/* VIDEO HOVER */
#video::before {
	content: "";
	display: block;
	height: 5px;
	width: 100%;
	background-color: red;
	display: fixed;
	position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 900ms;
}
#video:hover::before{
	width: 60%;
}
a:hover{
	text-decoration: none;
}
.scrolldown{
	position: absolute;
	bottom: -60px;
	left: 50%;
	width: 15px;
	height: 15px;
	margin-left: -15px;
	/* background: red; */
	transform: translateY(-80px) translateX(50%) rotate(45deg);
}
.scrolldown span{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
}
/* .scrolldown span:nth-child(1){
	transform: translate(-15px,-15px);
	animation-delay: -0.1s;
} */
/* .scrolldown span:nth-child(2){
	transform: translate(0,0);
	animation-delay: -0.5s;
}
.scrolldown span:nth-child(3){
	transform: translate(15px,15px);
		animation-delay: 0s;
} */
@keyframes scroll {
	0%{
		top: -5px;
		left: -5px;
		opacity: 0;
	}
	25%{
		top: 0px;
		left: 0px;
		opacity: 1;
	}
	100%{
		top: 5px;
		left: 5px;
		opacity: 0;
	}
}
@keyframes scrollmob {
	0%{
		top: 5px;
		left: 5px;
		opacity: 0;
	}
	25%{
		top: 0px;
		left: 0px;
		opacity: 1;
	}
	100%{
		top: -10px;
		left: -10px;
		opacity: 0;
	}
}
@media (min-width: 0px) and (max-width: 425px){
	h1{
		top: 80px;
		font-size: 50px;
	}
	section{
		width: 300px;
		height: 300px;
		margin-left: -150px;
		margin-top: -175px;
	}
	.preorder{
		top: 220px;
		left: 230px;
		font-size: 24px;
	}
	#music{
		font-size: 30px;
			bottom: -120px;
	}
	#video{
		font-size: 30px;
			bottom: -170px;
	}
	.scrolldown{
	bottom: -60px;
	margin-left: -8px;
	}
	.scrolldown span{
		border-top: 2.5px solid black;
		border-left: 2.5px solid black;
		animation: scrollmob 1.2s  ease-in-out infinite;
	}
}
@media (min-width: 426px) and (max-width: 575px){
	section{
		width: 350px;
		height: 350px;
		margin-left: -175px;
		margin-top: -200px;
	}
	h1{
		font-size: 60px;
	}
	.preorder{
    top: 230px;
		left: 280px;
		font-size: 27px;
	}
  #music{
    bottom: -120px;
  }
  .scrolldown{
		bottom: -50px;
    margin-left: -8px;
  }
	.scrolldown span{
		border-top: 2.5px solid black;
		border-left: 2.5px solid black;
		animation: scrollmob 1.2s  ease-in-out infinite;
	}
}
@media (min-width: 576px){
	h1{
		left: 25px;
		top: 20px;
	}
	#video{
		bottom: -15%;
	}
	#music{
		bottom: -6%;
	}
	.preorder{
		top: 190px;
	}
	#spice{
		bottom: -15%;
	}
	.scrolldown span{
		border-bottom: 2.5px solid black;
		border-right: 2.5px solid black;
		animation: scroll 1.2s  ease-in-out infinite;
	}
}
