/* FOR ELEMENT COMING FROM RIGHT */
music.setAttribute("style","animation: comingmob 1000ms ease-out;")/*JS*/

@keyframes comingmob {
	0% {transform: translateX(200px)}
	100% {transform: translateX(0px)}
}
/* FOR ELEMENT COMING FROM DOWN */
@keyframes coming {
	0% {transform: translateY(200px)}
	100% {transform: translateY(0px)}
}

/* MUSIC HOVER */
#music::before {
	content: "";
	display: block;
	height: 5px;
	width: 100%;
	background-color: red;
	display: fixed;
	position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 900ms;
}
#music:hover::before{
	width: 100%;
}
