*{
	 background-color:;
	 box-sizing: border-box;
	 position: relative;
}

body{
	text-align: center;
	background-image: url(ba);
	background-size: cover;
	font-family: sans-serif;
	 background-color: #222222;
	 margin: 0px;
	 max-width: 1300px;
     margin: auto;
}
article{      
		color: white;
        font-style: bold;
         height: 500px;
         width: 1300px;
	}	
h1{
	color: red;
	font-size: 40px;
}	
header{
     font-size: 25px;
}	
h5{
	font-size: 25px;
	color: white;
	background-color: black;
}
h4{
	font-size: 30px;
	text-align: center;
}
div{
    display: table-cell;
    height: 200px;
    padding: 35px;
    background: black; 
}
section{
     height: 550px;
     width: 1300px;
     overflow: auto;
}
footer{
       background-position: center bottom;
}
.image{
	 width:250px; 
	 height:350px; 
}
.disc{
	    font-size: 20px;
		font-style: italic;
	}
#head{
		font-size: 35px;
		color: red;
	}
p#physc{
		color: grey;
		font-size: 30px;
	}
div > p{
		color: purple;
	}
footer p{
		text-align: center;
		font-size: 30px;
	}
#physc p{
		cursor: pointer;
	}
div:hover h5{
background-color: #282828; 
color: red; 
}
div:hover{
	background-color: #282828; 
}
