*{
	 background-color:;
	 box-sizing: border-box;
	 position: relative;
	 scroll-behavior: smooth;
}

body{
	text-align: center;
	background-image: url(ba);
	background-size: cover;
	font-family: sans-serif;
	 background-color: #222222;
	 margin: 0px;
	 max-width: 100%;
     margin: auto;
}
article{      
		color: white;
        font-style: bold;
         height: 100%;
         width: 100%;
	}	
h1{
	color: red;
	font-size: 250%;
}	
header{
     font-size: 150%;
}	
h5{
	font-size: 140%;
	color: white;
	background-color: black;
}
h4{
	font-size: 170%;
	text-align: center;
}
div{
    display: table-cell;
    height: 25%;
    padding: 20px 20px 20px 20px;
    background: black; 
}
section{
     height: 310%;
     width: 100%;
     overflow: auto;
}
footer{
       background-position: center bottom;
}
.image{
	 width:210PX; 
	 height:310PX; 
}
<!-- .disc{
	    font-size: 100%;
		font-style: italic;
	} -->
#head{
		font-size: 250%;
		color: red;
	}
p#physc{
		color: red;
		font-size: 180%;
	}
div > p{
		color: purple;
	}
footer p{
		text-align: center;
		font-size: 100%;
	}
#physc p{
		cursor: pointer;
	}
div:hover h5{
background-color: #282828; 
color: red; 
}
div:hover{
	background-color: #282828; 
}
#physc:hover{
	color: blue;
    
}

