*{

}

body{
	text-align: center;
	background-image: url();
	background-size: cover;
	font-family: sans-serif;
	 background-color: #222222;
}
article{      
		color: white;
        font-style: bold;
	}	
h1{
	color: red;
	font-size: 40px;
}	
header{
     font-size: 25px;
}	
h5{
	font-size: 22px;
	color: white;
}
h4{
	font-size: 30px;
	text-align: center;
}
div{
	width: 200px;
    display: table-cell;
    height: 350px;
    padding: 20px;
    background: #222222; 
    margin-left: 200px;
}
section{

}
.disc{
	    font-size: 20px;
		font-style: italic;
	}
#head{
		font-size: 35px;
		color: red;
	}
p#physc{
		color: grey;
	}
div > p{
		color: purple;
	}
footer p{
		text-align: center;
	}
#physc p{
		cursor: pointer;
	}
	h5:hover{
     	background-image: url(https://images2.alphacoders.com/474/474157.jpg);
        color: red;
}
div:hover{
background-image: url(https://images2.alphacoders.com/474/474157.jpg);
  
}
	
