@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
body{
  background: black;
  margin: 0px;
  padding: 0px;
}
@media (min-width: 577px){
h1{
  color: white;
  font-family: 'Six Caps', sans-serif;
  font-size: 50PX;
}
section{
  width: 400px;
  height: 430px;
  position: absolute;
  left: 50%;
  top: 40%;
  margin-left: -400px;
  margin-top: -175px;
}
#album{
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	margin: auto;
  background-image: url("album.jpeg");
}
.list{
  width: 400px;
  height: 430px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 25px;
  margin-top: -225px;
}
.link{
  position: absolute;
  top: 85%;
  left: 47%;
  text-decoration: none;
  background-color: black;
  color:#83ff77;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #83ff77;
  font-family: 'Montserrat', sans-serif;
}
.link:hover {
  text-decoration: none;
  background: black;
  border: 1px solid red;
  color: red;
}
li{
  padding: 13px;
  width: 100%
  height: 20px;
  background-color: black;
  color: white;
  border-radius: 4px;
  border: 0.01px solid #6c757d;
  opacity: 0.5;
  list-style: none;
  text-align: center;
}}
@media (min-width: 0px) and (max-width: 576px){
  h1{
    color: white;
    top: 0%;
    font-family: 'Six Caps', sans-serif;
    font-size: 60PX;
  }
  section{
    width: 320px;
    height: 350px;
    margin: auto;
}
  #album{
  	width: 100%;
  	height: 100%;
  	background-size: cover;
  	margin: auto;
    background-image: url("album.jpeg");
  }
  .list{

  }
  .link{
    text-decoration: none;
    background-color: black;
    color:#83ff77;
    font-size: 10px;
    padding: 10px;
    font-weight: bold;
    border: 1px solid #83ff77;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: -380px;
    left: 73%;
  }
  .link:hover {
    text-decoration: none;
    background: black;
    border: 1px solid red;
    color: red;
  }
  li{
    padding: 14px;
    width: 100%
    height: 20px;
    background-color: black;
    color: white;
    border-radius: 4px;
    border: 1px solid white;
    opacity: 0.18;
    text-align: center;
    list-style: none;
  }


}
