@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
*{
	scroll-behavior: smooth;
}
body{
	margin: 0px;
	padding: 0px;
}
@keyframes animate{
	0%{
		background-color: white;
  }
	100%{
		background-color: #000000;
	}
}
@keyframes come {
	from {opacity: 0;padding: 20px;}
	to {opacity: 1;padding: 10px;}
}
h1{
	color: #CFB53B;
	position: relative;
	font-family: 'Great Vibes', cursive;
  opacity: 0;
	font-size: 70px;
	top: 15%;
}
section{
  width: 450px;
  height: 450px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -225px;
  margin-top: -225px;
}
section#image  > div{
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	margin: auto;
}
#sad{
	background-image: url("https://vignette.wikia.nocookie.net/batman/images/c/c0/Facepaint.png/revision/latest?cb=20200320213434");
    opacity: 1;
     background-position: center;
}
#happy{
	background-image: url('happy.jpeg');
	 opacity: 0;
	   background-position: center;

}
#music{
	padding: 15px;
	padding-left: 20px;
	padding-right: 0px;
	padding-top: 5px;
	color: white;
	font-family: 'Six Caps', sans-serif;
	font-size: 35px;
	display: inline-block;
	position: absolute;
	bottom: -120px;
	left: 0px;
}
#video{
	padding: 15px;
	padding-left: 20px;
	padding-right: 0px;
	padding-top: 5px;
	width: 65px;
	color: white;
	font-family: 'Six Caps', sans-serif;
	font-size: 35px;
	display: inline-block;
	position: absolute;
	bottom: -180px;
	left: 0px;
}
.preorder{
	position: absolute;
	left: 420px;
	top: 150px;
	padding: 10px;
	color: black;
	background-color: #e60000;
	font-family: 'Six Caps', sans-serif;
	font-size: 27px;
	border: 1px white;
}
.preorder:hover{
	text-decoration: none;
	color: black;
	background-color: #ffffff;
}
/* MUSIC HOVER */
#music::before {
	content: "";
	display: block;
	height: 5px;
	width: 100%;
	background-color: red;
	display: fixed;
	position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 900ms;
}
#music:hover::before{
	width: 71%;
}
/* VIDEO HOVER */
#video::before {
	content: "";
	display: block;
	height: 5px;
	width: 100%;
	background-color: red;
	display: fixed;
	position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 900ms;
}
#video:hover::before{
	width: 70%;
}

@media (min-width: 0px) and (max-width: 425px){
	section{
		width: 300px;
		height: 300px;
		margin-left: -150px;
		margin-top: -150px;
	}
	.preorder{
		left: 230px;
		font-size: 24px;
	}
	#music{
		font-size: 30px;
			bottom: -120px;
	}
	#video{
		font-size: 30px;
			bottom: -180px;
	}
}
@media (min-width: 426px) and (max-width: 575px){
	section{
		width: 350px;
		height: 350px;
		margin-left: -175px;
		margin-top: -175px;
	}
	h1{
		top: 5%;
	}
	.preorder{
		left: 280px;
		font-size: 27px;
	}
}
@media (min-width: 576px){
	h1{
		top: 6%;
	}
	#video{
		bottom: -120px;
	}
	#music{
		bottom: -60px;
	}
	.preorder{
		top: 180px;
	}
}
