@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
body{
	margin: 0px;
	padding: 0px;
}  
@keyframes animate{
	0%{
		background-color: white;
	}
	7%{
		background-color: #707070;
	}
	14%{
		background-color: #696969;
	}
	21%{
		background-color: #686868;
	}
	28%{
		background-color: #606060;
	}
	35%{
		background-color: #585858;
	}
	42%{
		background-color: #505050;
	}
	49%{
		background-color: #484848;
	}
	56%{
		background-color: #404040;
	}
	63%{
		background-color: #404040;
	}
	70%{
		background-color: #303030;
	}
	77%{
		background-color: 	#282828;
	}
	84%{
		background-color: #202020;
	}
	91%{
		background-color: 	#101010;
	}
	100%{
		background-color: #000000;
	}
}
.title{
	font-family: 'Abril Fatface', cursive;
} 
h1{
	color: white;
	position: relative;
	top: 60px;
	font-family: 'Abril Fatface', cursive;
}
.col-xs-12, .col-md-12, .col-sm-12{
	  display: block;
}
section#image{
position: relative;
  display: block;
  width: 500px;
  padding: 25%;
  top: 30px;
  margin: auto;
}
section#image  > div{
	width: 400px;
	height: 400px;
	position: absolute;
	left: 12%;
	top: 15px;
	background-size: cover; 
	margin: auto;
}
#sad{
	background-image: url("https://vignette.wikia.nocookie.net/batman/images/c/c0/Facepaint.png/revision/latest?cb=20200320213434");
    opacity: 1;
     background-position: center;
}
#happy{
	background-image: url("https://wallpaperaccess.com/full/1499967.jpg"); 
	 opacity: 0;
	   background-position: center;
	 
}
#music{
	padding: 15px;
	padding-left: 20px;
	padding-right: 0px;
	color: white;
	font-family: 'Six Caps', sans-serif;
	font-size: 40px;
	display: inline-block;
	position: absolute;
	bottom: -60px;
	

}
.preorder{
	position: relative;
	left: 500px;
	top: 200px;
	padding: 15px; 
	text-decoration: none;
	color: black;
	background-color: white;
	font-family: 'Six Caps', sans-serif;
	font-size: 30px;
}
#music::before {
	content: "";
	display: block;
	height: 5px;
	width: 100%;
	background-color: red;
	position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 900ms;
}
#music:hover::before{
	width: 70%;
}
.preorder::before {
	content: "";
	display: block;
	height: 7%;
	width: 100%;
	background-color: black;
	position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 950ms;
}
.preorder:hover::before{
	width: 100%;
	background-color: #E8E8E8;
	}
.preorder:hover{
	background-color: #E8E8E8;
}

/*SMALL MOBILE*/
@media (min-width: 0px) and (max-width: 353px){
section#image  > div{
	width: 65vw;
	height: 65vw;
	left: 10%;
	top: 150px;
}
.preorder{
	font-size: 28px;
	text-shadow: 10px;
	padding: 8px;
	height: 20px;
	left: 180px;
	top: 90px;
}
#music{
	font-size: 28px;
	position: relative;
	bottom: -350px;
}
section#image{
	width: 100%;
}
h1{
	top: 120px;
}
}
/*MED MOB*/
@media (min-width: 354px) and (max-width: 384px){
section#image  > div{
	width: 280px;
	height: 280px;
	left: 5%;
	top: 100%;
}
.preorder{
	text-shadow: 10px;
	padding: 8px;
	height: 20px;
	left: 230px;
	top: 100px;
}
#music{
	position: relative;
	bottom: -450px;
}
section#image{
	width: 100%;
}
h1{
	top: 120px;
}
}
/*LARGE MOB*/
@media (min-width: 385px) and (max-width: 425px){
section#image  > div{
	width: 330px;
	height: 330px;
	left: 4vw;
	top: 100%;
}
.preorder{
	text-shadow: 10px;
	padding: 8px;
	height: 20px;
	left: 270px;
	top: 130px;
}
#music{
	position: relative;
	bottom: -550px;
}
section#image{
	width: 100%;
}
h1{
	top: 120px;
}

}
@media (min-width: 426px) and (max-width: 637px){
section#image  > div{
	width: 330px;
	height: 330px;
	top: 80%;
	left: 8vw;
}
.preorder{
	text-shadow: 10px;
	padding: 8px;
	height: 20px;
	left: 270px;
	top: 150px;

}
#music{
	position: relative;
	bottom: -650px;
}
section#image{
	width: 100%;
}
h1{
	top: 120px;
}
}
@media (min-width: 638px) and (max-width: 767px){
section#image  > div{
	top: 70px;
}
.preorder{
	left: 350px;
}
}
@media (min-width: 768px) and (max-width: 991px){
section#image  > div{
	top: 70px;
}
.preorder{
	left: 350px;
}
h1{
	top: 80px;
}
}
@media (min-width: 992px) and (max-width: 1199px){
section#image  > div{
	top: 70px;
}
h1{
	top: 80px;
}
}
/*LARGE SCREEN*/
@media (min-width: 1200px){
#music{
	bottom: -80px;
}
section#image  > div{
	width: 450px;
	height: 450px;
	top: 90px;
}
h1{
	top: 100px;
}


}